/* Colors
-------------------------- */
$--color-primary: #0077b5;

$--color-success: #5bc039;
$--color-warning: #f6ab3f;
$--color-danger: #ef2a3c;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// 自定义class
.el-button.linear {
  &.primary {
    color: #0077b5;
    border-color: #0077b5;
    &:hover {
      border-color: rgba(0, 119, 181, 0.8);
    }
  }
}

.el-form.hide-asterisk {
  /deep/ .el-form-item__label:before {
    content: "";
  }
}
