/* Colors
-------------------------- */
$--color-primary: #0077b5;
$--color-success: #52c41a;
$--color-warning: #faad14;
$--color-danger: #f5222d;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// 自定义class
.el-button.linear {
  &.primary {
    color: #0077b5;
    border-color: #0077b5;
    &:hover {
      border-color: rgba(0, 119, 181, 0.8);
    }
  }
}

.el-form.hide-asterisk {
  /deep/ .el-form-item__label:before {
    content: "";
  }
}

// 覆盖样式
.el-step__head.is-process {
  color: #0077b5;
  border-color: #0077b5;
}
.el-step__head.is-success {
  // color: rgba($color: #000000, $alpha: 0.85);
  // border-color: rgba($color: #000000, $alpha: 0.85);
  color: #0077b5;
  border-color: #0077b5;
  .el-step__line {
    background-color: #0077b5;
  }
}
.el-step__title.is-success,
.el-step__description.is-success {
  color: rgba($color: #000000, $alpha: 0.85);
}

.el-carousel__indicators {
  width: 100%;
  text-align: center;
}
