@import "./transition.scss";
@import "./element-variables.scss";
@import "./variables.scss";
@import "./util.scss";
@import "basscss/css/basscss.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $--link-color;
  &:hover {
    color: $--link-hover-color;
    cursor: pointer;
  }
}

/* UI相关 */

.main-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 24px 0 0;
}

.card {
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 1px 0 #b5b5b5, 0 2px 1px 0 #e2e1e1,
    0 1px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.card__header {
  margin: 0;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid $--border-color;
}

.card__content {
  padding: 16px 32px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}

.user-list-item {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  font-size: 14px;
  &__avatar {
    width: 48px;
    height: 48px;
    margin-right: 24px;
  }
  &__info {
    flex: 1;
    overflow: hidden;
    margin-right: 24px;
    p {
      margin: 4px 0 0;
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
    }
  }
}
