@import "./transition.scss";
@import "./element-variables.scss";
@import "./variables.scss";
@import "./util.scss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $--link-color;
  &:hover {
    color: $--link-hover-color;
    cursor: pointer;
  }
}
