/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform-y*/
.fade-transform-y-leave-active,
.fade-transform-y-enter-active {
  transition: all 1s;
}
.fade-transform-y-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.fade-transform-y-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
